#app-container {
    max-width: 420px;
    margin: 0 auto;
    position: relative;
    height: 100vh;
}

input#chat {
    width: 95%;
    max-width: 420px;
    position: fixed;
    bottom: 10px;
}

.chat-bubble {
    background: rgb(25, 101, 182);
    padding: 10px;
    color: #fff;
    margin: 10px 0;
    border-radius: 6px;
}