body {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 12px;
    margin: 0;
}

#app-container {
    margin: 0 auto;
    position: relative;
    height: 100vh;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    max-width: 420px;
}

::-webkit-scrollbar {
    display: none;
    }

.convo-container {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 80vh;
    position: absolute;
    overflow-y: scroll;
}

.input-container {
    width: 95%;
    max-width: 420px;
    position: fixed;
    bottom: 0px;
    background: #fff;
    /* padding-top: 30px; */
}
.input-container input {
    width: 100%;
}


.chat-bubble {
    background: rgb(25, 101, 182);
    padding: 8px 15px;
    color: #fff;
    /* width: 93%; */
    box-sizing: border-box;
    
}

/* USER chat bubble */
.chat-bubble.user {
    background: #5f6fee;
    border-radius: 20px 20px 3px 20px;
    margin: 20px 0;
}

/* BOT chat bubble */
.chat-bubble.bot {
    box-shadow: 1px 1px 1px 2px #00000012;
    background: #fff;
    color: #5a5a5a;
    margin: 0;
    opacity: 0;
    border-radius: 3px 20px 20px 20px;
    animation-name: revealright;
    animation-duration: .3s;
    animation-timing-function: ease;
    /* animation-delay: 1s; */
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: revealright;
}

@keyframes revealright {
    from {
        opacity: 0;
        width: 50%;
    }
    to { 
        opacity: 1;
        width: 100%;
    }
}

.bot-message-container {
    display: flex;
    margin: 10px 0;
}

    .bot-message-container > div:first-child {
        margin-right: 10px;
    }

.bot-message-container img {
    border-radius: 50%;
    max-width: 30px;
}

/* General bubble styles for both USER & BOT */
.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}